{% extends 'base.html' %}

{% block title %}
    {% load static %}
    <title>{{ post.title }}</title>
{% endblock %}

{% block content %}

    <div class="container border-bottom blog-post">

        <h3>{{ post.title }}</h3>

        <div class="blog-post-meta">
            {{ post.creation_date }} by {{ post.author }}
            {% if user == post.author %}
                <a href="{% url 'delete_post' pk=post.id %}" id="delete_btn">(delete post)</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <img id="myImg" class="post-image" src="{{ MEDIA_URL }}{{ post.image }}">
        <p style="text-align: justify;">{{ post.text|linebreaks }}</p>
    </div>

    <div id="myModal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
    </div>

    <button id="return_btn" type="submit" class="btn btn-primary fixed-top return-btn d-none d-lg-block"
            onclick="window.history.go(-1); return false;">Go back</button>
    <form action="{{ url }}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-11">
                {{ comment_form }}
            </div>
            <div class="col-sm-1">
                {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                {% else %}
                    <button class="btn btn-secondary mb-2" style="font-size: 0.7em" disabled>Login<br>to comment</button>
                {% endif %}
            </div>
        </div>
    </form>

    {% for comment in comments %}
        <div class="container border-bottom blog-comment">
            <div class="blog-post-meta">
                {{ comment.creation_date }} by {{ comment.author }}
            </div>
            <div class="container">
                {{ comment.text|linebreaks }}
            </div>
        </div>
    {% endfor %}

     <script src="{% static '/zoom_img.js' %}"></script>
{% endblock %}